BOT_TOKEN=
ADMIN_IDS=7943648603
REQUIRED_CHANNEL=@alphashopss
SUPPORT_USERNAME=@AlphaShopSupport

CARD_NUMBER=
CARD_HOLDER=

CUSTOM_PRICE_PER_GB=4000
REFERRAL_PERCENT=10
DATABASE_FILE=alphashop.db

PANEL_API_URL=
PANEL_API_TOKEN=
